h1 {
    font-family:sanvito-pro-display,sans-serif;
    color:rosybrown;
    font-weight: 800;
    font-style:normal;
    letter-spacing: .5px;
    text-align: center;
    font-style:normal;
    font-size: 50px;
}
h3{
    text-align: center;
}
 .container 1{
  position:relative;
}


li{
    font-family:sans-serif;
    color:darkred;
    font-weight: 900;
    font-size: 20px;
    padding: 5%;
    text-align: center;
}



p{
   font-family:sans-serif;
  color: #665544;
  font-weight: 700;
   padding: 3%;
   text-align: center;
}

img{
  max-width: 100%;
  
}

body{
    color: #665544;
    background-color: #d4d0c6;
    background-image: url("imag/coffee.jpg");
    font-family: Georgia, "Times New Roman", serif; 
}

.tablink {
  background-color:rosybrown;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 16px 18px;
  font-family:sanvito-pro-display,sans-serif;
  font-size: 28px;
  width: 25%;   
}

.tablink:hover {
  background-color: #777;
}

.tabcontent {
  color: white;
  display: none;
  padding: 50px;
  text-align: center;
}






